#sauce_jumbo_heading
{
	font-weight: 600px;
	font-family: 'Pacifico', cursive;
	font-size: 80px;
	color: #FFFFFF;
}
#jumbo_background_outer
{
	height:700px;
	width:100%;
	margin: auto;
	/*border:3px solid red;*/
	padding: 230px 0;
  	text-align: center;
  	background-image: url('jumbo_back.jpg');
  	background-size: cover;
}
#jumbo_background_inner
{
	/*border:3px solid red;*/
}
#text_of_jumbo
{
	color:#FFFFFF;
	font-family: 'Baloo Bhaina', cursive;
	font-weight: 300;
}
#video_box
{
	width: 100%;
	height: 830px;
	background-color: #84A980  ;
	/*border:2px solid red;*/
	/*background-image: url('video_box_5.jpg');*/
	/*background-color: rgba(255, 255, 255, 1);*/
	/*background-size: cover;*/
	padding: 170px 0;
}
#content_div
{
	/*border:2px solid red;*/
}
#video_box1
{   
	height: 250px;
	width: 100px;
	/*border:2px solid red;*/
	background-image: url("video_box_2.jpg");
		background-size: cover;
}
#video_box2
{
	float:right;
	height: 250px;
	width: 100px;
	/*border:2px solid green;*/
	background-image: url("video_box_6.jpg");
		background-size: cover;
}
#video_box3
{   
	height: 250px;
	width: 100px;
	/*border:2px solid yellow;*/
	background-image: url("video_box_3.jpg");
		background-size: cover;
	
}
#video_box4
{	
	height: 250px;
	width: 100px;
	float:right;
	/*border:2px solid black;*/
	background-image: url("video_box_4.jpg");
		background-size: cover;
}
#contact_us_box
{
	height: 300px;
	width: 100%;
	background-color: #CBFF96    ;
	padding: 80px;
}
#contact_us_content
{
	text-align: center;
	font-weight: 500;
}
#non_bold_content_in_contact_us
{
	font-weight: 100;
}