#whole_page
{
	/*background: url("video_page_1.jpg");*/
	background-size: cover;
	background-color: #E5FFCA   ;
	height: 100%;
	padding: 100px;
}
#box_contain_video
{
	background-color: white;
	height: 500px;
	padding: 50px;
}
#video_box
{
 	border: 2px solid red;
 	width: 60%;
 	height: 100%;
 	float:left;
}
#comment_box
{
	border: 2px solid red;
	width: 40%;
	float:right;
	height: 100%;
}
body,html
{
	margin: 0px;
	height: 100%;
}