<!DOCTYPE html>
<html>
<head>
	<title>Viit Attendence</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
	<style type="text/css">
		html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*
{
    margin: 0;
    padding: 0;
}
div
{
    /*border:2px solid red;*/
}
		body
		{
			background-color: #85C1E9  ;
			padding-top: 50px;
		}
		#heading
		{
			color : white;
			height: 20%;
			width: 100%;
		    font-family: 'Anton', sans-serif;
		    font-size: 90px; 
		    /*border :2px solid red;*/
		    text-align: center;
		    margin-bottom: 120px;
		}
		#parent_log_box
		{
			width: 100%;
			height: 100%;
			text-align: center;
			/*border: 2px solid green;*/
		}
		#log_box
		{
			display: inline-block;
			background-color: #F6BD89  ;
			object-fit: contain;
			height :100%;
			width: 80%;
			/*border : 2px solid blue;*/
			color: white;
			
		    padding: 30px;
		}
		#login_head
		{
			font-family: 'Anton', sans-serif;
		    font-size: 60px; 
			margin-bottom: 15px;
		}
		.col-lg-6
		{
			border: 3px solid black;
		}
		.form-group
		{
			/*border: 5px solid yellow;*/
			padding-left: 30%;
			padding-right: 30%;
		}
	</style>
</head>
<body>
	<div id="heading">VinnovateIT</div>
	<div></div>
	<div id="parent_log_box">
		<div id="log_box">
			<div id="login_head">Login</div>
			<form action='/log' method="post">
			  <div class="form-group"  id="username">
			    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
			  </div>
			  <div class="form-group">
			    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	
</body>
</html>