<!DOCTYPE html>
<html>
<head>
	<title>VIIT_Attendence</title>
	<link rel="stylesheet" type="text/css" href="viit_css.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
	<style type="text/css">
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*
{
    margin: 0;
    padding: 0;
}
div
{
    /*border:2px solid red;*/
}
#half_box_1
{
    width: 50%;
    height: 100vh;
    background-color: #A0B6FF;
}
#half_box_2
{
    width: 50%;
    height: 100vh;
    background-color: #A0FFDC;
}
#plus_sign
{
    font-size: 100px;
    z-index: 2;
    position: absolute;
    top: 40%;
    width: 100%;
}
#plus
{
    text-shadow: 2px 6px 3px black;
}
a
{
    color: black;
}
#top_att
{
    background-color: #DFA0FF;
    height: 60vh;
    width: 100%;
}
#top_ab
{
    background-color:  #FF8080  ;
    height: 60vh;
    width: 100%;
}
#att_history
{
    width: 100%;
    height: 40vh;
    background-color: #00D1DA  ;
}
#contact_us
{
    width: 100%;
    height: 50vh;
    background-color: #C4C4C4  ;
}
	</style>
</head>
<body>
	<div class="row">
		<div class="col-lg-6" id="half_box_1"></div>
		<div class="col-lg-6" id="half_box_2"></div>
	</div>
	<div id="plus_sign" align="center">
		<a href="">
			<i class="fas fa-plus-square" id="plus"></i>
		</a> 	
	</div>
	<div id="top_att">
		<p>top_att</p>
	</div>
	<div id="top_ab">
		<p>top_ab</p>
	</div>
	<div id="att_history">
		<p>att_history</p>	
	</div>
	<div id="contact_us">
		<p>contact_us</p>
	</div>
</body>
</html>